---
---

@import "{{ site.theme }}";

.inner h1
{
	white-space: nowrap;
}

#main-content img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main-content video
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

#main-content iframe
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}
